body, html {
  width: 100%;
  height: 100%;
  background: url(../img/background.png);
  background-position: center center;
  background-size: cover;
  color: #000000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-moz-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.overshown {
  overflow-y: scroll;
}

.overhidden {
  overflow: hidden;
}

hr {
  width: 100%;
  border-width: 3px;
  border-color: #291d07;
}

/*____________________________________________________________________________________*/
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  width: 100%;
  height: 100%;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header h1 {
  margin-top: 25px;
  font-family: 'Permanent Marker', cursive;
  color: #000000;
  opacity: .98;
}

header.masthead p {
  font-weight: 300;
  color: #000000;
}

header a {
  margin: 0 25px;
  font-size: 32px;
}

/*____________________________________________________________________________________*/
/* Sections */
#projects, #about, #contacts {
  z-index: 5;
  background-color: #FFFFFF;
  height: auto;
}

#projects *, #about *, #contacts * {
  text-align: center;
}
hr {
  width: 100%;
  border-width: 5px;
  border-color: #000000;
  border-style: double;
}
/*____________________________________________________________________________________*/
/* Resume */
#resume {
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
}
.resumeSubTitles {
  color: #2079c7;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px;
}
.resumeSubTitlesClass {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px;
}
.resumeSubText {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
}
/*____________________________________________________________________________________*/
/* Projects */
.projectOneTitle {
  display: none;
}

.projectTwoTitle {
  display: none;
}

.projectThreeTitle {
  display: none;
}

.projectFourTitle {
  display: none;
}

.projectFiveTitle {
  display: none;
}

.projectSixTitle {
  display: none;
}

@media (max-width:719px) {
  .projectOneTitle {
    display: initial;
  }

  .projectTwoTitle {
    display: initial;
  }

  .projectThreeTitle {
    display: initial;
  }

  .projectFourTitle {
    display: initial;
  }

  .projectFiveTitle {
    display: initial;
  }

  .projectSixTitle {
    display: initial;
  }
}

/*____________________________________________________________________________________*/
/* footer */
footer {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  height: auto;
}

/*____________________________________________________________________________________*/
/* Backgrounds */
.backgroundsOne {
  background: url(../img/Canva-Low_Angle_View_of_Sky.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 250px;
  z-index: 3;
}

.backgroundsTwo {
  background: url(../img/Canva-Empty_Concrete_Building_Near_Road.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 250px;
  z-index: 3;
}

.backgroundsThree {
  background: url(../img/Canva-Grayscale_Photography_of_Building.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 250px;
  z-index: 3;
}
/*____________________________________________________________________________________*/
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*____________________________________________________________________________________*/
/* @media */
@media (max-width: 719px) {
  header a {
    margin: 25px 0;
    font-size: 32px;
    display: block;
  }
}

/*____________________________________________________________________________________*/
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

/*____________________________________________________________________________________*/
/* Text */
.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
  color: #000000;
  padding: 15px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vidaloka', serif;
}

.h1, h1 {
  font-size: 72px;
}

.h2, h2 {
  font-size: 60px;
}

.h3, h3 {
  font-size: 48px;
}

.h4, h4 {
  font-size: 36px;
}

.h5, h5 {
  font-size: 24px;
}

.h6, h6 {
  font-size: 20px;
}

.p, p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
